/* These are my main colors */
:root {
    --primary-color: #f5e6e6;
    --secondary-color: #459b97;
    --hover-secondary: #bbb8b8;
}

/* Makes sure that eveything is in this font */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Setting a minimal width to make sure everything fits properly on smaller screens */
body {
    min-width: 300px;
}

/* main button style */
.add-button,
#rent-button,
.remove-button,
#cancel,
#submit,
#refresh-button {
    padding: 8px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.add-button:hover,
#rent-button:hover,
.remove-button:hover,
#cancel:hover,
#submit:hover,
#refresh-button:hover {
    background-color: var(--hover-secondary);
}

#thank-you {
    padding: 10px;
    border: 1px solid var(--secondary-color);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    background-color: white;
}

#submit {
    display: none;
}

/* Altering how to form is displayed to the user */
#payment-form {
    display: none;
    position: fixed;
    height: 100%;
    overflow: scroll;
    z-index: 2;
    background-color: white;
    padding: 5px;
    border: 1px solid grey;
}

/* gives the form inputs styling */
form[name="purchase"] input,
form[name="purchase"] select {
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    margin: 3px;
    padding: 3px;
}

form[name="purchase"] select {
    width: 204px;
    height: 34px;
}

.fa-check {
    color: rgb(0, 190, 0);
}

/* valid inputs */
form[name="purchase"] input.valid ~ .check {
    display: inline-block;
    color: rgb(0, 190, 0);
    /* border: 3px solid rgb(118, 255, 76); */
}

/* invalid inputs */
form[name="purchase"] input.invalid ~ .x-mark {
    display: inline-block;
    color: red;
    /* border: 2px solid rgb(255, 0, 0); */
}

.check {
    display: none;
}

.x-mark {
    display: none;
}

#form-message {
    font-size: 1.2rem;
}

#form-message span {
    color: red;
}

/* setting the style for the navbar */
nav.navbar {
    background: linear-gradient(var(--secondary-color), #13c6e6);
    color: var(--primary-color);
    border-bottom: 3px solid #000000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#navbar-contents,
#content {
    max-width: 960px;
}

/* the normal setting for the navbar header */
nav.navbar h1 {
    font-size: 2rem;
    font-weight: bold;
}

/* changes the navbar header to a more reasonable size when the screen is below the min width */
@media screen and (max-width: 350px) {
    nav.navbar h1 {
        font-size: 1.75rem;
    }
}

/* puts the number inside the shopping cart logo and styles it */
#cart-number {
    position: absolute;
    z-index: 1;
    color: var(--primary-color);
    font-weight: white;
    font-size: 0.9rem;
    margin-left: 16px;
    margin-top: 01px;
}

/* colors the shopping cart button */
#cart-button {
    background: var(--primary-color);

    /* on actual mobile device, this div shows up, this is to help hide it */
    position: relative;
    right: 16px;
}

/* darkens the color when the cart is hovered over */
#cart-button:hover {
    background-color: var(--hover-secondary);
}

/* changes the shopping cart color */
#shopping-cart {
    color: var(--secondary-color);
}

/* background color for page */
main {
    width: 100%;
    background-color: var(--primary-color);
}

/* styles each item when displayed */
.product {
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
    font-size: 1.05rem;
    border-radius: 6px;
}

/* customize cart menu and adds a scroll bar */
.dropdown-menu {
    min-height: 250px;
    max-height: 350px;
    overflow: scroll;
}

@media screen and (max-width: 574px) {
    .dropdown-menu {
        width: 250px;
    }
    #rent-button {
        font-size: 1rem;
        padding: 3px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 575px) {
    .dropdown-menu {
        width: 500px;
    }
    #rent-button {
        font-size: 1rem;
        padding: 3px;
        margin-right: 20px;
    }
}

#cart-item {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

#menu-head {
    background-color: var(--secondary-color);
    color: white;
    font-size: 1.2rem;
    border-bottom: 3px solid black;
}

/* .cart-item {
    padding: 0px;
} */

/* on actual mobile device, this div shows up, this is to help hide it */
#dropdownMenuButton {
    width: 10px;
    height: 40px;
}

#rent-button {
    display: none;
    margin-top: 5px;
}

.emphasis {
    color: var(--secondary-color);
    font-weight: bold;
}

/* thank you screen styling */

#thank-you {
    display: none;
    padding-top: 60px;
}

#thank-you p {
    font-size: 1.5rem;
    color: var(--secondary-color);
}

#animation {
    position: relative;
    width: 150px;
    height: 75px;
    border-bottom: 2px solid rgb(9, 42, 230);
    margin-bottom: 10px;
    overflow: hidden;
}

#net {
    margin-left: 50px;
    margin-top: 60px;
    height: 15px;
    width: 2px;
    border: 1px solid black;
}

#ball {
    background-color: orange;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

#added-message {
    position: fixed;
    display: none;
    z-index: 2;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
    margin-top: 40%;
    margin-left: 35%;
}
